@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tondo";
  src: local("Tondo"), url("./assets/fonts/Tondo.ttf") format("truetype");
}

.example::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
